<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206255218677-man71omem7pis6mug2jvj80du51bjq3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206255218677-man71omem7pis6mug2jvj80du51bjq3p</string>
	<key>API_KEY</key>
	<string>AIzaSyA1DW4hbBmWHYmPwMJ6PJ795TMMPbnxgoI</string>
	<key>GCM_SENDER_ID</key>
	<string>206255218677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemamovie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movieapp-eae22</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-eae22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206255218677:ios:d03f5cfd809a58100bcabc</string>
</dict>
</plist>